<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="StepStart" value="90.000"/>
    <add key="StepEnd" value="100.000"/>
    <add key="Intervals" value="0.000, 0.250, 0.500, 0.750, 0.900, 0.950, 0.990, 0.999"/>
    <add key="Output" value="../../../Readme.md"/>
  </appSettings>
</configuration>